.row.d-flex.p-1.p-md-2.m-md-3.text-center.align-items-end
    - let i;
    - for (i=0; i<results.length; i++)
        .col-sm-4.py-3.justify-content-center
            a.text-capitalize.d-block(href='/pokemon/'+results[i].pokemon_id)
                if shiny=='true'
                    img.d-block.mx-auto(src=`/images/poke-icons/shiny/${results[i].pokemon_name}.png` alt="" onerror="this.src='/images/poke-icons/unknown.png'")
                else
                    img.d-block.mx-auto(src=`/images/poke-icons/${results[i].pokemon_name}.png` alt="" onerror="this.src='/images/poke-icons/unknown.png'")
                a.text-capitalize.d-block(href='/pokemon/'+results[i].pokemon_id) #{results[i].pokemon_id} - #{results[i].pokemon_name}
    if results.length == 0
        .col-sm-4.py-3
            p No matching results found :(

