mixin images(names)
    for n in names
        img.mt-0(src=`/images/poke-icons/${n}.png`)

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Regions
        include ./partials/bootstrap-style
    body 
        include ./partials/header
        .container 
            .position-relative.overflow-hidden.p-1.p-md-2.m-md-3.text-center
                h1.display-4.fw-normal Explore the Pokémon Regions
            each r in regions
                hr.mb-1
                .row.justify-content-center
                    .col-sm-6.d-flex.flex-wrap.align-items-center.justify-content-center.flex-column
                        div
                            - if(r.region_name == "kanto")
                                +images(['bulbasaur','charmander','squirtle'])
                            - if(r.region_name == "johto")
                                +images(['chikorita','cyndaquil','totodile'])
                            - if(r.region_name == "hoenn")
                                +images(['treecko','torchic','mudkip'])
                            - if(r.region_name == "sinnoh")
                                +images(['turtwig','chimchar','piplup'])
                            - if(r.region_name == "unova")
                                +images(['snivy','tepig','oshawott'])
                            - if(r.region_name == "kalos")
                                +images(['chespin','fennekin','froakie'])
                            - if(r.region_name == "alola")
                                +images(['rowlet','litten','popplio'])
                            - if(r.region_name == "galar")
                                +images(['grookey','scorbunny','sobble'])
                        h3.font-weight-light.text-capitalize.m-0.pt-1
                            a(href=`/regions/${r.region_name}`) #{r.region_name}
            hr.mb-5